h1{
  text-align: center;
  margin-bottom: 100px;;
}

img{
  height: 300px;;
}

.card-space{
  margin-right: 50px;
  background-color: pink;
  height: 400px;
}

.content-card{
  text-align: center;
  background-color: #E648E6;
}
